.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

figure.w50 {
  width: 50%;
}

figure.w55 {
  width: 55%;
}

figure.w60 {
  width: 60%;
}

figure.w65 {
  width: 65%;
}

figure.w70 {
  width: 70%;
}

figure.w75 {
  width: 75%;
}

figure.w80 {
  width: 80%;
}

figure.w85 {
  width: 85%;
}

figure.w90 {
  width: 90%;
}

figure.w95 {
  width: 95%;
}
